/* :root {
   --primary: #5B2A86;
    --secondary: #7785AC;
    --tertiary: #9AC6C5;
    --dark: #360568;
    --light: #A5E6BA;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: var(--primary);
    }

    nav a {
        text-decoration: none;
        padding: 5px 10px;
        color: var(--light);
        margin-right: 10px;
        background-image: linear-gradient(270deg, var(--light) 0%, var(--light) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: bottom;
        transition: all 0.25s ease-in;
        font-size: 1.4rem;
    }

    nav a:hover {
        background-size: 100% 100%;
        color: var(--primary);
    } */
